
# Playwright
node_modules/
/blob-report/
/playwright/.cache/
/Playwright/bluedrop_academy/allure-results
/Playwright/bluedrop_academy/tests/Config/credentials.ts
/Playwright/bluedrop_academy/storageState.json
D:\Playwright/Bluedrop_academy/tests/Videos
D:\Playwright\Bluedrop_academy\allure-results
.env